<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>
    <title>My Customers</title>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap-theme.css">
</head>

<body ng-cloak>
    <div ng-controller="MyAppCtrl as ctrl" class="container">
        <div class="page-header">
            <h3>Customers</h3>
        </div>
        <!-- <form class="form-group" ng-submit="ctrl.search()">
            <div class="form-group">
                <label for="">Id: </label>
                <input type="text" ng-model="ctrl.id">
                <input type="submit" class="btn btn-success">
            </div>
        </form> -->

        <div class="row">
            <div class="col-sm-4">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name <span class="glyphicon glyphicon-plus-sign pull-right" ng-click="ctrl.enableAddMode()"></span></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="customer in ctrl.customers" ng-click="ctrl.enableDetailViewMode(customer.CUSTOMER_ID)">
                            <td>{{customer.CUSTOMER_ID}}</td>
                            <td>{{customer.NAME}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-8">
                <div ng-hide="ctrl.detailViewMode">Click on a customer to view the details or the <span class="glyphicon glyphicon-plus-sign"></span> symbol
                    to add a new customer
                </div>
                <div ng-show="ctrl.detailViewMode">
                    <div class="panel-group">
                        <div class="panel panel-primary">
                            <div class="panel-heading">{{ctrl.customer.NAME}}
                                <span class="glyphicon glyphicon-edit pull-right" ng-hide="ctrl.editMode" ng-click="ctrl.enableEditMode()"> 
                            </div>
                            <div class="panel-body">
                                <form>
                                    <div class="alert alert-success alert-dismissable" ng-show="ctrl.showSuccessfulAdd">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>Customer {{ctrl.customer.name}} added!</strong> 
                                    </div>
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input class="form-control" type="text" ng-model="ctrl.customer.NAME" ng-disabled="!ctrl.editMode">
                                    </div>
                                    <div class="form-group">
                                        <label>Address line 1</label>
                                        <input class="form-control" type="text" ng-model="ctrl.customer.ADDRESSLINE1" ng-disabled="!ctrl.editMode">
                                    </div>
                                    <div class="form-group">
                                        <label>Address line 2</label>
                                        <input class="form-control" type="text" ng-model="ctrl.customer.ADDRESSLINE2" ng-disabled="!ctrl.editMode">
                                    </div>
                                    <div class="form-group">
                                        <label>City</label>
                                        <input class="form-control" type="text" ng-model="ctrl.customer.CITY" ng-disabled="!ctrl.editMode">
                                    </div>
                                    <div class="form-group">
                                        <label>State</label>
                                        <input class="form-control" type="text" ng-model="ctrl.customer.STATE" ng-disabled="!ctrl.editMode">
                                    </div>
                                    <div class="form-group">
                                        <label>Zip</label>
                                        <input class="form-control" type="text" ng-model="ctrl.customer.ZIP" ng-disabled="!ctrl.editMode">
                                    </div>
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input class="form-control" type="text" ng-model="ctrl.customer.PHONE" ng-disabled="!ctrl.editMode">
                                    </div>
                                    <div class="form-group">
                                        <label>Fax</label>
                                        <input class="form-control" type="text" ng-model="ctrl.customer.FAX" ng-disabled="!ctrl.editMode">
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input class="form-control" type="text" ng-model="ctrl.customer.EMAIL" ng-disabled="!ctrl.editMode">
                                    </div>
                                    <div class="form-group">
                                        <label>Discount code</label>
                                        <input class="form-control" type="text" ng-model="ctrl.customer.DISCOUNT_CODE" ng-disabled="!ctrl.editMode">
                                    </div>
                                    <div class="form-group">
                                        <label>Credit limit</label>
                                        <input class="form-control" type="number" ng-model="ctrl.customer.CREDIT_LIMIT" ng-disabled="!ctrl.editMode">
                                    </div>
                                    <div class="form-group" ng-show="ctrl.editMode">
                                        <button type="button" class="btn btn-success" ng-click="ctrl.saveEdit()">Save</button>
                                        <button type="button" class="btn btn-default" ng-click="ctrl.cancelEditMode()">Cancel</button>
                                    </div>
                                </form>
                            </div>
                            <div>
                                <ul class="pager">
                                    <li class="previous" ng-click="ctrl.viewPrevious()"><a href="#">Previous</a></li>
                                    <li class="next" ng-click="ctrl.viewNext()"><a href="#">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/app.controller.js"></script>
    <script src="app/services/app.service.js"></script>
</body>

</html>